.forget-password-container {

  padding: 20px;
  height: fit-content;
  margin-top: 80px;
}

.forget-form-card {
  max-width: 550px;
  width: 100%;
  border-radius: 16px;
  background-color: #f5f7fa;
}

.forget-h2 {
  color: #2c3e50;
  font-weight: 600;
}
.send-otp-btn{
  width: 120px;
  background-color: #87b7eb;
  height: 40px;
  margin-top: 2px;
}
.send-otp-btn:hover{
  background-color: #3d71d3;
  color: white;
}
.send-otp-loader{
  height: 40px;
  position:fixed;
  top:330px ;
  left: 640px;
}