.buy-btn{
    background-color: rgba(255, 69, 0,0.8);  
    width: 110px;
}
.buy-btn:hover{
    background-color: rgb(255, 69, 0);  
}
.cart-btn{
    background-color: rgba(255, 165, 0,0.8);
    width: 110px;
}
.cart-btn:hover{
    background-color: rgb(255, 165, 0);
}