

.product-detail-main-thumbnail{
    height: 50px;
    width: 50px;
    border: 0.5px solid black;
    margin-top: 5px;
}
.product-detail-main-image{
    height: 400px;
    width: 400px;
    margin: 5px;
    padding: 8px;
    border: 1.5px solid #86adf3;
}
.detail-main-div{
    background-color: #eaeef4;
    height: 100%;
} 
.product-detail-btn{
    width: 160px;
    height: 50px;
}
/* .product-detail-ul{
    margin-top: 50px;
    margin-left: 3px;
    padding: 0%;
}*/

.product-left-side{
    width: 50%;
}


